@charset "UTF-8";
/*--- reset ---*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,div,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote
{
	margin: 0;
	padding: 0;
}
body{
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	word-break: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 100%;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 24px; font-size:1.5rem;
	padding: 4px;
	font-weight: normal;
}
p{
	font-size: 16px; font-size:1.0rem;
	padding: 4px;
}
span{
	padding: 2px;
	padding-right:10px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a {
	text-decoration: none;
	background: transparent;
	display: inline-block;		/*スマホはタップしやすいようaをブロック要素にする*/
}
a:active,
a:hover {
	outline: 0;
}
img{
	border: 0;
}
.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.hide {
	display: none !important;
}


/*------------------------------------------
	　　ヘッダ内のデフォルト値
-------------------------------------------*/
#header a{display: block;}

.hd_area{
	text-align: center;
}

/*　---ヘッダパターン1---　*/
.hptn1{
	width: 100%;
	height: 50px;
	overflow: hidden;
}
.hptn1 h1{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
}
/*背景画像＋透過以外用*/
.ngrad {
	display: table;
	width: 100%;
	height: 100%;
}
/*背景画像＋透過用*/
.grad {
	display: table;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0));
	background: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 1.0)), to(rgba(255, 255, 255, 0.0)));
	background: -o-linear-gradient(left, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0));
	background: linear-gradient(to right, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.0));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#ffffffff, EndColorStr=#00ffffff);
	background-color: rgba(255, 255, 255, 0.0);
}

/*　---ヘッダパターン2---　*/
.hptn2{
	height: 50px;
	text-align: left;
	overflow: hidden;
}
.hptn2 h1{
	height: 100%;
	padding: 0;
}
.hptn2 img{
	height: 100%;
}

/*　---ヘッダパターン3---　*/
.hptn3 h1{
	padding: 0;
}
.hptn3 img{
	display: block;
	width: 100%;
	height: auto;
}


/*------------------------------------------
	　　フッタ内のデフォルト値
-------------------------------------------*/
#footer a{display: block;}

.ft_area{
	text-align: center;
}
.fadd{
	font-size: 12px; font-size:0.75rem;
	padding-top: 6px;
	padding-bottom: 0;
}
.ftel{
	font-size: 12px; font-size:0.75rem;
	padding-top: 0;
	padding-bottom: 0;
}
.fcpy{					/*コピーライト部分*/
	padding-top: 0;
	font-size: 12px; font-size:0.75rem;
}

#powered{
	text-align: center;
}

/*------------------------------------------
	　　各パーツクラスのデフォルト値　　
-------------------------------------------*/
#container{
}


/*テキストパーツ*/
.text_area{
	text-align: left;
	border: none;
	margin-left: 8px;
	margin-right: 8px;
}
.text_area>a{
	display: block;
}

/*画像パーツ*/
.imgbd{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width: 80%;				/*デフォルト値*/
	margin: 0 auto;
	height: auto;
	display: block;
}

/*画像+テキストパーツ*/
.imgtext_area{
	margin-left: 8px;
	margin-right: 8px;
}
.imgtext_area h2,.imgtext_area p{
	padding-right: 0;
}
.imgtext_area span{
	padding-right: 0;
	line-height: 140%;
}
.imgtext_area>div,.imgtext_area>a,.imgtext_area>a>div{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
}
.imgtext_area>div,.imgtext_area>a>div {
	display: table;
	table-layout: fixed;
}
.imgtext_imgbd{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	float: left;
	width: 40%;				/*デフォルト値*/
	max-width: 400px;
	margin: 6px;
	height: auto;
	display: block;
}
.arw{
	display: table-cell;
	vertical-align: middle;
	padding-right: 6px;
	width: 20px;
	text-align: center;
}
.arw img{				/*矢印アイコンのサイズ*/
	width: auto;
	height: 18px;
}
.imgtext{
	display: table-cell;
	width: auto;
}
/*画像系共通*/
.img_area a,.imgtext_area a{
	display: block;
}
.imgtrm{						/*トリミング用*/
	height: auto;
	overflow: hidden;
}
.imgtrm img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.imgtrm a{
	display: block;
}

/*表パーツ*/
.table_area{
	margin-left: 8px;
	margin-right: 8px;
}
.table_area table{
 	border-collapse: collapse;
 	border-spacing: 0;
	table-layout: fixed;
 	width: 100%;
	text-align: center;
}
.table_area th,.table_area td{
	font-size: 14px; font-size:0.875rem;
	padding: 10px 5px;
	margin:0;
	border-width: 1px;
	border-style: solid;
}
.leftth th{
	width: 30%;
}


/*リストパーツ*/
.list_area{
	font-size: 16px; font-size:1.0rem;
	margin-left: 8px;
	margin-right: 8px;
}
.list_area ul, .list_area li{	
	margin: 0;
	padding: 0;
}
.list_area li{
	list-style: none outside none;
	border-bottom: 1px solid #aaaaaa;
	display: table;
	width: 100%;
	table-layout: fixed;
}
.list_area a{
	display: table;
	width: 100%;
	padding-left: 2px;
	box-sizing: border-box;
	table-layout: fixed;
}
.list_area .iimg{				/*アイコン設定*/
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	overflow: hidden;
	vertical-align: middle;
	margin: 6px 4px;
}
.list_area .iimg img{
	position: absolute;
	top: 0;
	left: 0;
}
.list_area .icon{
	display: table-cell;
	vertical-align: middle;
	width: 37px;
}
.list_area .txt{
	display: table-cell;
	width: auto;
	vertical-align: middle;
	padding: 8px 4px;
}
.list_area .arws{
	display: table-cell;
	vertical-align: middle;
	/* padding-right: 10px; */
	width: 21px;
}
.list_area .arws img{
	width: auto;
	height: 18px;
}
.list_area .arws img,.list_area .icon img{
	vertical-align: middle;
}
.listh{
	font-size: 16px; font-size:1.0rem;
	padding-left: 2px;
	border-top: none;
}

/*初期設定*/
.list0{
	list-style: none outside none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin: 0 auto;
	border-top: 1px solid #aaaaaa;
}

/*地図パーツ*/
.map_area{
	margin-left: 8px;
	margin-right: 8px;
}
.map_area h2{
	margin-bottom: 6px;
}
.mapsize{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width: 80%;
	margin: 0 auto;
}
.mapsize>div{
	overflow: hidden;
}

.link_r{
	float: right;
	width: auto;
}
.mapframe{
	height: 200px;
}

/*電話番号パーツ*/
.tel_area{
	position: relative;
	z-index: 1;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
}
.teltable{
	display: block;
	font-size: 16px; font-size:1.0rem;
	font-weight: bold;
}
.telmark{
	display: inline;
}
.telmark span{
	padding: 0;
	vertical-align: middle;
}
.telmark img{
	vertical-align: middle;
}
.telno{
	display: inline;
	vertical-align: middle;
}

/*SNSパーツ*/
.sns_area{
	margin-left: 8px;
	margin-right: 8px;
}
.snstable{
	display: table;
	width: 100%;
}
.iconarea{
	display: inline-block;
	vertical-align: middle;
}
.snsicon{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	float: left;
}
.snsicon img{
	width: 60px;
	vertical-align: middle;
}

/*ギャラリーパーツ(グリッド)*/
.ggrid_area{
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
}
.gridlist{
	padding: 0;
	list-style: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 0;		/*inline-blockの隙間問題を解決*/
	vertical-align: middle;
}
.gridlist p{			/*コメント共通設定*/
	width: 140px;
	font-size: 12px; font-size:0.75rem;
	padding: 2px 0;
	margin: 0;
	text-align: center;
}
.grid_imgbd{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin: 4px;
}
.grid_imgbd p{				/*コメントを画像の下に表示*/
	margin-top: 2px;
}
.gimgtrm{						/*トリミング用*/
	width: 140px;
	height: 140px;
	overflow: hidden;
	position: relative;
}
.gimgtrm img{
	position: absolute;
	top: 0;
	left: 0;
}
.gimgtrm p{				/*コメントを画像内に表示*/
	position: absolute;
	bottom: 0.5em;
	left:0;
	margin-top: 0;
}

/*スライドショーパーツ*/
.photo-item{					/*画像表示部分*/
	width: 80%;
	margin: 0 auto;
	position: relative;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	overflow: hidden;
}
.slider{
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.slider li{
	width: 100%;
	height: 300px;
	padding: 0;
	float: left;
	position: relative;
}
@media screen and (max-width: 480px) {	/* 端末幅480px以下の場合 */
	.slider li{height: 210px;}
}
.slider li + li{	/*ライブラリが動作するまでは２枚目以降の画像非表示（起動後はライブラリ側でblockに変更）*/
	display: none;
}
.slider li img{
	position: absolute;
	top: 0;
	left: 0;
}
.slider li p{
	width: 100%;
	font-size: 12px; font-size:0.75rem;
	padding: 4px 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	left:0;
}
.pager-item > ul{					/*ページマーク*/
	text-align: center;
	padding-top: 10px;
	margin:0;			/* デフォルトのmarginとpaddingを打消し */
	padding-left:0;		/* デフォルトのmarginとpaddingを打消し */
}
.pager-item li {display: inline-block;}
.pager-item button {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	margin: 0.5px 3px;
	border-radius: 5px;
	border: none;
	padding: 0;
	outline: none;
}
.direction-item a{				/*矢印画像*/
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	width: 32px;
	height: 32px;
}
.prevmark{
	left: 3px;
	background: url(img/slideicon.png) no-repeat 0 0;
}
.prevmark:hover,.prevmark:active{
	background: url(img/slideicon.png) no-repeat -76px 0;
}
.nextmark{
	right: 3px;
	background: url(img/slideicon.png) no-repeat -40px 0;
}
.nextmark:hover,.nextmark:active{
	background: url(img/slideicon.png) no-repeat -114px 0;
}

/*カレンダーパーツ*/
.pcal_area{
	text-align: left;
	margin-left: 8px;
	margin-right: 8px;
}
.pcalview{
	padding: 10px 4px;
	text-align: center;
	font-size: 0;
}

/*table-cell*/
.cal_area{
	text-align: left;
	margin-left: 8px;
	margin-right: 8px;
}
.caltext{
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
.calview{
	padding: 10px 4px;
}
.callist{
	text-align: center;
}
/*画面幅540px以上の場合はカレンダーと本文横並び*/
@media screen and (min-width: 540px) {
	.caltext{
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	.caltext li{
		display: table-cell;
		vertical-align: top;
	}
	.txtlist p{
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
		width: 100%;
	}
}

/*クーポンパーツ*/
.cpn_area{
	margin-left: 8px;
	margin-right: 8px;
}
.cpn_area span{padding: 0;}
.cpnview{			/*クーポン表示エリア*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 8px;
	border: 6px inset #f75d86;
	max-width: 640px;
}
.cpnview .ftcpn{clear: both;}
.cpnimg_imgbd{		/*クーポン画像エリア*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	float: left;
	width: 40%;
	margin: 4px;
	margin-left: 10px;
}
.cpntext{			/*クーポンテキストエリア*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	overflow: hidden;
	margin: 0 2px;
}
.namecpn{
	font-weight: bold;
}
.aboutcpn p,.showcpn p,.usecpn p,.limitcpn p{
	display: inline-block;
}
.aboutcpn{
	margin-bottom: 4px;
}

/*区切り線パーツ*/
.line_area{
	margin-left: 8px;
	margin-right: 8px;
	padding: 8px 0;		/*線の上下に間を空ける*/
}
.lineptn01 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin: 0 auto;
}

/*お問合せパーツ*/
.contact_area{
	margin-left: 8px;
	margin-right: 8px;
}
.cbtn01{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	display: block;
	width: 80%;
	text-align: center;
	padding: 6px 4px;
	margin: 0 auto;
}

/*週カレンダーパーツ*/
.weekly_area{
	margin-left: 8px;
	margin-right: 8px;
}
.wtbltxt{
	width: 100%;
	margin: 0 auto;
}
/*内容部分*/
.wtxt{
	font-size: 12px; font-size:0.75rem;		/*小文字*/
	line-height: 200%;
 	margin-top: 8px;
 }
/*　週カレンダーパーツ　タイプ１ 初期状態　*/
.wtblptn01{
	width: 100%;
	font-size: 16px; font-size:1.0rem;
	text-align: center;
 	border-collapse: collapse;
 	border-spacing: 0;
 	margin-top: 4px;
}
.wtblptn01 th{
	font-weight: normal;
}
.wtblptn01 th,.wtblptn01 td{
	border-style: solid;
	border-width: 1px;
}
.wtblptn01 tbody th,.wtblptn01 thead th:first-child{
	width: 35%;
	text-align: left;
	padding: 6px 6px;
}
/*　週カレンダーパーツ　タイプ２ 初期状態　*/
.wtblptn02 tbody th,.wtblptn02 thead th:first-child{
	width: 30%;
	text-align: right;
}
.wtblptn02 th,.wtblptn02 td{
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
/*　週カレンダーパーツ　タイプ３　初期状態*/
.wtblptn03{
	border-collapse:separate;	/*これがないとborder-radiusが効かない*/
	border-top-style: solid;
	border-top-width: 1px;
	border-right: none;
	border-bottom: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: 10px;
}
.wtblptn03 th,.wtblptn03 td{
	border-top: none;
	border-left: none;
	padding: 8px;
}
.wtblptn03 tbody th,.wtblptn03 thead th:first-child{
	text-align: center;
	width: 30%;
}
.wtblptn03 thead th:first-child{
	border-radius: 10px 0 0 0;
}
.wtblptn03 thead th:last-child{
	border-radius: 0 10px 0 0;
}
.wtblptn03 tbody tr:last-child th{
	border-radius: 0 0 0 10px;
}
.wtblptn03 tbody tr:last-child td:last-child{
	border-radius: 0 0 10px 0;
}
/*　週カレンダーパーツ　タイプ４　初期状態*/
.wtblptn04 thead th{
	font-weight: bold;
}
.wtblptn04 tbody th,.wtblptn04 thead th:first-child{
	width: 25%;
	text-align: center;
}
.wtblptn04 caption{
	caption-side: top;
}
/*週カレンダーパーツ 改行調整*/
.spInline {
    display: none;
}
@media screen and (max-width: 480px) {
	.spInline {
	    display: inline;
	}
	.wtblptn01 th,.wtblptn01 td,.wtblptn04 caption{
		font-size: 12px; font-size:0.75rem;
	}

}

/*フリーパーツ*/
.free_area{
	margin-left: 8px;
	margin-right: 8px;
}

/*---------------------------------------
	グローバルメニュー用
---------------------------------------*/
.menubar dl,.menubar dt,.menubar dd,.menubar ul,.menubar ol,.menubar li
{
	margin: 0;
	padding: 0;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.icon-bar{
	background-color: rgba(99, 99, 99, 0.9);
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.icon-bar+.icon-bar{
	margin-top: 4px;
}
.btn-toolbar button:focus{
	outline:none;
}
.menu-toggle{
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: rgba(170, 170, 170, 0.9);
	border-color: rgba(170, 170, 170, 0.9);
	z-index: 999;
}
.menulist{
	position: fixed;
	right: 0px;
	top: 50px;
	width: 100%;
	list-style: none;
	max-height: 430px;	/*ナビメニューの高さが430px以上になった時スクロールバーを出す*/
	overflow-y: auto;
	z-index: 999;
}
.menulist a{
	color: #000000;
	display: block;
	padding-left: 10px;
}
.menulist ul{
	list-style: none;
}
.menulist li{
	padding: 5px 0;
    background-color: rgba(170, 170, 170, 0.9);
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.menulist li:first-child{
    border-top: 1px solid #dddddd;
}

/*開閉メニューの制御*/
.menulist .m_open{
	padding-bottom: 0;
}
.menulist .m_open>a{
	padding-bottom: 5px;
	background: url(img/up.png) 98% 42% no-repeat;
}
.menulist .m_close{
	padding-bottom: 0;
}
.menulist .m_close>a{
	padding-bottom: 5px;
	background: url(img/down.png) 98% 50% no-repeat;
}
.childm li{
	padding-left: 5px;
	background-color: rgba(90, 90, 90, 0.4);
	border: 0;
	border-top: 1px solid #dddddd;
}
/*メニューの初期状態は閉じておく*/
.menulist{
    display: none;
}
.menulist ul{
    display: none;
}

/* -- 商品パーツ -- */

/* 商品パーツ大枠 */
.shopItem{
	text-align: right;
	margin-left:8px;
	margin-right:8px;
	padding:8px 1%;
	letter-spacing: -.40rem;
	font-size: 1rem;
	overflow: hidden;
	clear:both;
}
/* 商品名 */
.shopItemName{
	display:inline-block;
	width:61%;
	margin:0 0 14px 0;
	padding-bottom:5px;
	letter-spacing: normal;
	text-align:left;
	font-size:1.4rem;
	line-height: 1.8rem;
	border-bottom: 1px solid #e7e7e7;
}
/* 商品画像の枠 */
.shopItemImages{
	width:37%;
	float:left;
	margin:0 0 10px 0;
	text-align:center;
	vertical-align: top;
	letter-spacing: normal;
}

/* #11 IE対応 */
.shopItemImages a { display: inline; }

/* 画像枠線用 */
.shopItemImagesFrame {
	border:solid 1px #e0e0e0;
	box-sizing: border-box;
}

/* 二枚目以降を非表示 */
.shopItemImagesWrap + .shopItemImagesWrap { display: none; }

/* -- slick css 打消し -- */
.shopItem .slick-track {
	display: table;
	table-layout: fixed;
}
.shopItemImagesWrap.slick-slide {
	float: none;
	display: table-cell;
	vertical-align: middle;
	padding: 0 3px;
}

/* 商品画像 */
.shopItemImagesFile{
	display: block;
	max-width:100%;
	height:auto;
	margin: 0 auto;
}

/* 商品情報の枠 */
.shopItemInfo{
	display:inline-block;
	width:61%;
	margin:0;
	text-align:left;
	letter-spacing: normal;
}
/* 商品画像が無い時 */
.shopItemNoimage{text-align:left;}
.shopItemNoimage .shopItemName{width:100%;}
.shopItemNoimage .shopItemInfo{width:100%;}
/* 画面幅が狭い時 */
@media screen and (max-width: 550px){ /* 550px以下で */
	.shopItemName{width:100%;}
	.shopItemImages{width:100%;float:none;}
	.shopItemInfo{width:100%;}
	.shopItemImagesFile{max-height:300px;width:auto;}
}
/* 商品の価格 */
.shopItemPrice{
	display: inline-block;
	margin:0 0 10px 0;
}
.shopItemPrice1{padding:0;color:#555;}
.shopItemPrice2{padding:0;color:#b12704;font-size:1.4rem;}
.shopItemPrice3{padding:0;color:#b12704;font-size:0.9rem;}
/* 送料 */
.shopItemPostage{
	display: inline-block;
	margin:0 0 10px 10px;
	color: #0066c0;
	font-size:0.9rem;
}
.shopItemPostage a{
	color: #0066c0;
	text-decoration: underline;
}
.shopItemPostage a:hover{
	text-decoration: none;
}
/* 在庫 */
.shopItemStock{
	display: block;
	margin-bottom:10px;
	font-size:1.1rem;
	color:#008a00;
}
.shopItemStock span{
	padding:0;
	font-weight:bold;
}
/* 売り切れ */
.shopItemStockOut{
	display: block;
	margin-bottom:10px;
	font-size:1.1rem;
	color: #b12704;
}
/* バリエーション */
.shopItemKind{
	font-size:0.9rem;
	margin-bottom:10px;
}
.shopItemKind span{
	color:#555;
	padding:0;
	vertical-align: middle;
}
.shopItemKind select{
	display: inline-block;
	margin:0;
	border: 1px solid #e0e0e0;
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
	border-radius: 2px;
}
/* 出来たら凄いバリエーション */
.shopItemKind ul{
	display: inline-block;
	list-style-type:none;
	margin:0;
	padding: 0;
	vertical-align: middle;
}
.shopItemKind li{
	display: inline-block;
	letter-spacing: normal;
	padding:0;
	margin:4px 6px 4px 0;
}
.shopItemKind li a{
	margin:0;
	padding: 5px 10px 5px 11px;
	border: 1px solid #e0e0e0;
	color:#111;
	line-height:1.2rem;
	background-color:#fff;
}
.shopItemKind li a .kindOfPrice{
	color:#b12704;
	font-size:0.8rem;
}
.shopItemKind li a:hover{
	border-color:#d0d0d0;
	background-color:#f5f5f5;
}
.shopItemKind li a:active,.shopItemKind li a:focus{
	border-color: #e77600;
	background-color: #fefaf6;
	box-shadow: 0 0 3px 0 rgba(228,121,17,0.8);
	border-radius: 2px;
}
.shopItemKind .s-select{
	border: 1px solid #e47911;
	background-color: #fefaf6;
}
.shopItemKind .s-select:hover{
	border: 1px solid #e47911;
	background-color: #fefaf6;
}
.shopItemKind .s-select:active,.shopItemKind .s-select:focus{
	border-color: #e77600;
	background-color: #fefaf6;
	box-shadow: 0 0 3px 0 rgba(228,121,17,0.8);
	border-radius: 2px;
}
/* カゴ画面のライン */
.shopItemKagoLine{
	display:table;
	margin-bottom:10px;
	width:100%;
}
/* 購入数 */
.shopItemS{
	display:table-cell;
	width: 104px;
	vertical-align: middle;
}
.shopItemSu{
	display: inline-block;
	vertical-align: middle;
	padding:1px 0 0 0;
	color:#555;
}
.shopItemS select,.shopItemS input{
	display: inline-block;
	margin:0;
	border: 1px solid #e0e0e0;
	padding: 8px 5px 7px 5px;
	border-radius: 2px;
	background-color: #ffffff;
	-webkit-appearance: none;
}
.shopItemS select{width:50px;}
.shopItemS input{width:34px;}

/* カゴボタン */
.shopItemKago{
	display: table-cell;
	width:auto;
	padding-left:10px;
}
.shopItemKagoButton{
	display: inline-block;
	margin:0;
	padding: 8px;
	border-radius: 2px;
	background-color: #f0c14b;
	border:solid 1px #a88734;
	max-width: 210px;
	width: 100%;
	cursor: pointer;
}
/* カゴボタンの色 */
.button-highlight {
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcd370), color-stop(100%, #fac33e));
	background: -moz-linear-gradient(top, #fcd370, #fac33e);
	background:-webkit-linear-gradient(top, #fcd370, #fac33e);
	background:linear-gradient(to bottom, #fcd370, #fac33e);
	background-color: #fbcb57;
	color: #000000;
	text-shadow: 0 -1px 1px rgba(181, 129, 4, 0.35);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.button-highlight:hover {
	background-color: #fbcb57;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcda89), color-stop(100%, #fac33e));
	background: -moz-linear-gradient(top, #fcda89, #fac33e);
	background: -webkit-linear-gradient(top, #fcda89, #fac33e);
	background: linear-gradient(to bottom, #fcda89, #fac33e);
}
/* 商品説明 */
.shopItemComentTitle{
	color:#555;
	font-weight:bold;
	margin:20px 0 4px 0;
}
.shopItemComentText{
	font-size:0.9rem;
	line-height:1.5rem;
}
.crayonInModal{
    padding:20px !important;
    text-align:left;
    color: #111;
}

/* カゴ画面のライン（海外） */
.world .shopItemKagoLine{
    display:block;
    margin-bottom:0px;
    letter-spacing: -.40rem;
}
/* 購入数（海外） */
.world .shopItemS{
    display:inline-block;
    width: auto;
    vertical-align: top;
    letter-spacing: normal;
    margin:3px 20px 14px 0;
}
/* カゴボタン（海外） */
.world .shopItemKago{
    display: inline-block;
    padding-left:0;
    letter-spacing: normal;
}
.world .shopItemKagoButton{
    width: 210px;
}

/*-----------------------------
		　色変更用クラス
-----------------------------*/
/*---　文字色関連　---*/
.clr11,.table_area th.clr11,.table_area td.clr11,.list_area .clr11 .txt,.list_area .clr11 .htxt{color: #ffffff !important;}
.clr12,.table_area th.clr12,.table_area td.clr12,.list_area .clr12 .txt,.list_area .clr12 .htxt{color: #cccccc !important;}
.clr13,.table_area th.clr13,.table_area td.clr13,.list_area .clr13 .txt,.list_area .clr13 .htxt{color: #999999 !important;}
.clr14,.table_area th.clr14,.table_area td.clr14,.list_area .clr14 .txt,.list_area .clr14 .htxt{color: #333333 !important;}
.clr15,.table_area th.clr15,.table_area td.clr15,.list_area .clr15 .txt,.list_area .clr15 .htxt{color: #000000 !important;}

.clr21,.table_area th.clr21,.table_area td.clr21,.list_area .clr21 .txt,.list_area .clr21 .htxt{color: #ffccd9 !important;}
.clr22,.table_area th.clr22,.table_area td.clr22,.list_area .clr22 .txt,.list_area .clr22 .htxt{color: #ff7799 !important;}
.clr23,.table_area th.clr23,.table_area td.clr23,.list_area .clr23 .txt,.list_area .clr23 .htxt{color: #ff2259 !important;}
.clr24,.table_area th.clr24,.table_area td.clr24,.list_area .clr24 .txt,.list_area .clr24 .htxt{color: #dd0037 !important;}
.clr25,.table_area th.clr25,.table_area td.clr25,.list_area .clr25 .txt,.list_area .clr25 .htxt{color: #880022 !important;}
.clr26,.table_area th.clr26,.table_area td.clr26,.list_area .clr26 .txt,.list_area .clr26 .htxt{color: #550015 !important;}

.clr31,.table_area th.clr31,.table_area td.clr31,.list_area .clr31 .txt,.list_area .clr31 .htxt{color: #fbd4d0 !important;}
.clr32,.table_area th.clr32,.table_area td.clr32,.list_area .clr32 .txt,.list_area .clr32 .htxt{color: #f59a92 !important;}
.clr33,.table_area th.clr33,.table_area td.clr33,.list_area .clr33 .txt,.list_area .clr33 .htxt{color: #ec4435 !important;}
.clr34,.table_area th.clr34,.table_area td.clr34,.list_area .clr34 .txt,.list_area .clr34 .htxt{color: #ca2213 !important;}
.clr35,.table_area th.clr35,.table_area td.clr35,.list_area .clr35 .txt,.list_area .clr35 .htxt{color: #7c150c !important;}
.clr36,.table_area th.clr36,.table_area td.clr36,.list_area .clr36 .txt,.list_area .clr36 .htxt{color: #3e0b06 !important;}

.clr41,.table_area th.clr41,.table_area td.clr41,.list_area .clr41 .txt,.list_area .clr41 .htxt{color: #faeebf !important;}
.clr42,.table_area th.clr42,.table_area td.clr42,.list_area .clr42 .txt,.list_area .clr42 .htxt{color: #f4dd81 !important;}
.clr43,.table_area th.clr43,.table_area td.clr43,.list_area .clr43 .txt,.list_area .clr43 .htxt{color: #eec832 !important;}
.clr44,.table_area th.clr44,.table_area td.clr44,.list_area .clr44 .txt,.list_area .clr44 .htxt{color: #cba511 !important;}
.clr45,.table_area th.clr45,.table_area td.clr45,.list_area .clr45 .txt,.list_area .clr45 .htxt{color: #7d650a !important;}
.clr46,.table_area th.clr46,.table_area td.clr46,.list_area .clr46 .txt,.list_area .clr46 .htxt{color: #2f2604 !important;}

.clr51,.table_area th.clr51,.table_area td.clr51,.list_area .clr51 .txt,.list_area .clr51 .htxt{color: #c5ffe4 !important;}
.clr52,.table_area th.clr52,.table_area td.clr52,.list_area .clr52 .txt,.list_area .clr52 .htxt{color: #3dffa7 !important;}
.clr53,.table_area th.clr53,.table_area td.clr53,.list_area .clr53 .txt,.list_area .clr53 .htxt{color: #00d675 !important;}
.clr54,.table_area th.clr54,.table_area td.clr54,.list_area .clr54 .txt,.list_area .clr54 .htxt{color: #008147 !important;}
.clr55,.table_area th.clr55,.table_area td.clr55,.list_area .clr55 .txt,.list_area .clr55 .htxt{color: #003d21 !important;}
.clr56,.table_area th.clr56,.table_area td.clr56,.list_area .clr56 .txt,.list_area .clr56 .htxt{color: #001b0f !important;}

.clr61,.table_area th.clr61,.table_area td.clr61,.list_area .clr61 .txt,.list_area .clr61 .htxt{color: #bfeefa !important;}
.clr62,.table_area th.clr62,.table_area td.clr62,.list_area .clr62 .txt,.list_area .clr62 .htxt{color: #81ddf4 !important;}
.clr63,.table_area th.clr63,.table_area td.clr63,.list_area .clr63 .txt,.list_area .clr63 .htxt{color: #32c8ee !important;}
.clr64,.table_area th.clr64,.table_area td.clr64,.list_area .clr64 .txt,.list_area .clr64 .htxt{color: #0e8cac !important;}
.clr65,.table_area th.clr65,.table_area td.clr65,.list_area .clr65 .txt,.list_area .clr65 .htxt{color: #033649 !important;}
.clr66,.table_area th.clr66,.table_area td.clr66,.list_area .clr66 .txt,.list_area .clr66 .htxt{color: #04262f !important;}

.clr71,.table_area th.clr71,.table_area td.clr71,.list_area .clr71 .txt,.list_area .clr71 .htxt{color: #d4e2f2 !important;}
.clr72,.table_area th.clr72,.table_area td.clr72,.list_area .clr72 .txt,.list_area .clr72 .htxt{color: #93b6de !important;}
.clr73,.table_area th.clr73,.table_area td.clr73,.list_area .clr73 .txt,.list_area .clr73 .htxt{color: #4580c6 !important;}
.clr74,.table_area th.clr74,.table_area td.clr74,.list_area .clr74 .txt,.list_area .clr74 .htxt{color: #2f5f98 !important;}
.clr75,.table_area th.clr75,.table_area td.clr75,.list_area .clr75 .txt,.list_area .clr75 .htxt{color: #1b3757 !important;}
.clr76,.table_area th.clr76,.table_area td.clr76,.list_area .clr76 .txt,.list_area .clr76 .htxt{color: #031634 !important;}

.clr81,.table_area th.clr81,.table_area td.clr81,.list_area .clr81 .txt,.list_area .clr81 .htxt{color: #e3d6ed !important;}
.clr82,.table_area th.clr82,.table_area td.clr82,.list_area .clr82 .txt,.list_area .clr82 .htxt{color: #bc9cd3 !important;}
.clr83,.table_area th.clr83,.table_area td.clr83,.list_area .clr83 .txt,.list_area .clr83 .htxt{color: #9561b8 !important;}
.clr84,.table_area th.clr84,.table_area td.clr84,.list_area .clr84 .txt,.list_area .clr84 .htxt{color: #724293 !important;}
.clr85,.table_area th.clr85,.table_area td.clr85,.list_area .clr85 .txt,.list_area .clr85 .htxt{color: #452859 !important;}
.clr86,.table_area th.clr86,.table_area td.clr86,.list_area .clr86 .txt,.list_area .clr86 .htxt{color: #20132a !important;}


/*---　背景色関連　　---*/
.bclr11,.table_area th.bclr11,.table_area td.bclr11,.imgtext_area .bclr11,.list_area .bclr11,.contact_area .bclr11 p,.tblclr th.bclr11,.tblclr td.bclr11{background-color: #ffffff !important;}
.bclr12,.table_area th.bclr12,.table_area td.bclr12,.imgtext_area .bclr12,.list_area .bclr12,.contact_area .bclr12 p,.tblclr th.bclr12,.tblclr td.bclr12{background-color: #dddddd !important;}
.bclr13,.table_area th.bclr13,.table_area td.bclr13,.imgtext_area .bclr13,.list_area .bclr13,.contact_area .bclr13 p,.tblclr th.bclr13,.tblclr td.bclr13{background-color: #aaaaaa !important;}
.bclr14,.table_area th.bclr14,.table_area td.bclr14,.imgtext_area .bclr14,.list_area .bclr14,.contact_area .bclr14 p,.tblclr th.bclr14,.tblclr td.bclr14{background-color: #000000 !important;}
.bclr15,.table_area th.bclr15,.table_area td.bclr15,.imgtext_area .bclr15,.list_area .bclr15,.contact_area .bclr15 p,.tblclr th.bclr15,.tblclr td.bclr15{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dddddd', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dddddd', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #dddddd, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #dddddd, #ffffff) !important;
	background-image: -o-linear-gradient(top, #dddddd, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#dddddd), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #dddddd, #ffffff) !important;
	background-image: linear-gradient(top, #dddddd, #ffffff) !important;
}

.bclr21,.table_area th.bclr21,.table_area td.bclr21,.imgtext_area .bclr21,.list_area .bclr21,.contact_area .bclr21 p,.tblclr th.bclr21,.tblclr td.bclr21{background-color: #ffdde5 !important;}
.bclr22,.table_area th.bclr22,.table_area td.bclr22,.imgtext_area .bclr22,.list_area .bclr22,.contact_area .bclr22 p,.tblclr th.bclr22,.tblclr td.bclr22{background-color: #ffbbcb !important;}
.bclr23,.table_area th.bclr23,.table_area td.bclr23,.imgtext_area .bclr23,.list_area .bclr23,.contact_area .bclr23 p,.tblclr th.bclr23,.tblclr td.bclr23{background-color: #ff99b1 !important;}
.bclr24,.table_area th.bclr24,.table_area td.bclr24,.imgtext_area .bclr24,.list_area .bclr24,.contact_area .bclr24 p,.tblclr th.bclr24,.tblclr td.bclr24{background-color: #ff668a !important;}
.bclr25,.table_area th.bclr25,.table_area td.bclr25,.imgtext_area .bclr25,.list_area .bclr25,.contact_area .bclr25 p,.tblclr th.bclr25,.tblclr td.bclr25{background-color: #880020 !important;}
.bclr26,.table_area th.bclr26,.table_area td.bclr26,.imgtext_area .bclr26,.list_area .bclr26,.contact_area .bclr26 p,.tblclr th.bclr26,.tblclr td.bclr26{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffdde5', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffdde5', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #ffdde5, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #ffdde5, #ffffff) !important;
	background-image: -o-linear-gradient(top, #ffdde5, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffdde5), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #ffdde5, #ffffff) !important;
	background-image: linear-gradient(top, #ffdde5, #ffffff) !important;
}

.bclr31,.table_area th.bclr31,.table_area td.bclr31,.imgtext_area .bclr31,.list_area .bclr31,.contact_area .bclr31 p,.tblclr th.bclr31,.tblclr td.bclr31{background-color: #fcd5cf !important;}
.bclr32,.table_area th.bclr32,.table_area td.bclr32,.imgtext_area .bclr32,.list_area .bclr32,.contact_area .bclr32 p,.tblclr th.bclr32,.tblclr td.bclr32{background-color: #f9ab9f !important;}
.bclr33,.table_area th.bclr33,.table_area td.bclr33,.imgtext_area .bclr33,.list_area .bclr33,.contact_area .bclr33 p,.tblclr th.bclr33,.tblclr td.bclr33{background-color: #f6816f !important;}
.bclr34,.table_area th.bclr34,.table_area td.bclr34,.imgtext_area .bclr34,.list_area .bclr34,.contact_area .bclr34 p,.tblclr th.bclr34,.tblclr td.bclr34{background-color: #ec3624 !important;}
.bclr35,.table_area th.bclr35,.table_area td.bclr35,.imgtext_area .bclr35,.list_area .bclr35,.contact_area .bclr35 p,.tblclr th.bclr35,.tblclr td.bclr35{background-color: #5e1008 !important;}
.bclr36,.table_area th.bclr36,.table_area td.bclr36,.imgtext_area .bclr36,.list_area .bclr36,.contact_area .bclr36 p,.tblclr th.bclr36,.tblclr td.bclr36{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcd5cf', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcd5cf', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #fcd5cf, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #fcd5cf, #ffffff) !important;
	background-image: -o-linear-gradient(top, #fcd5cf, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcd5cf), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #fcd5cf, #ffffff) !important;
	background-image: linear-gradient(top, #fcd5cf, #ffffff) !important;
}

.bclr41,.table_area th.bclr41,.table_area td.bclr41,.imgtext_area .bclr41,.list_area .bclr41,.contact_area .bclr41 p,.tblclr th.bclr41,.tblclr td.bclr41{background-color: #fbf2cf !important;}
.bclr42,.table_area th.bclr42,.table_area td.bclr42,.imgtext_area .bclr42,.list_area .bclr42,.contact_area .bclr42 p,.tblclr th.bclr42,.tblclr td.bclr42{background-color: #f8eab0 !important;}
.bclr43,.table_area th.bclr43,.table_area td.bclr43,.imgtext_area .bclr43,.list_area .bclr43,.contact_area .bclr43 p,.tblclr th.bclr43,.tblclr td.bclr43{background-color: #f4dd81 !important;}
.bclr44,.table_area th.bclr44,.table_area td.bclr44,.imgtext_area .bclr44,.list_area .bclr44,.contact_area .bclr44 p,.tblclr th.bclr44,.tblclr td.bclr44{background-color: #f1d052 !important;}
.bclr45,.table_area th.bclr45,.table_area td.bclr45,.imgtext_area .bclr45,.list_area .bclr45,.contact_area .bclr45 p,.tblclr th.bclr45,.tblclr td.bclr45{background-color: #ba9715 !important;}
.bclr46,.table_area th.bclr46,.table_area td.bclr46,.imgtext_area .bclr46,.list_area .bclr46,.contact_area .bclr46 p,.tblclr th.bclr46,.tblclr td.bclr46{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbf2cf', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbf2cf', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #fbf2cf, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #fbf2cf, #ffffff) !important;
	background-image: -o-linear-gradient(top, #fbf2cf, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fbf2cf), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #fbf2cf, #ffffff) !important;
	background-image: linear-gradient(top, #fbf2cf, #ffffff) !important;
}

.bclr51,.table_area th.bclr51,.table_area td.bclr51,.imgtext_area .bclr51,.list_area .bclr51,.contact_area .bclr51 p,.tblclr th.bclr51,.tblclr td.bclr51{background-color: #d6ffec !important;}
.bclr52,.table_area th.bclr52,.table_area td.bclr52,.imgtext_area .bclr52,.list_area .bclr52,.contact_area .bclr52 p,.tblclr th.bclr52,.tblclr td.bclr52{background-color: #a3ffd4 !important;}
.bclr53,.table_area th.bclr53,.table_area td.bclr53,.imgtext_area .bclr53,.list_area .bclr53,.contact_area .bclr53 p,.tblclr th.bclr53,.tblclr td.bclr53{background-color: #81ffc5 !important;}
.bclr54,.table_area th.bclr54,.table_area td.bclr54,.imgtext_area .bclr54,.list_area .bclr54,.contact_area .bclr54 p,.tblclr th.bclr54,.tblclr td.bclr54{background-color: #00c56b !important;}
.bclr55,.table_area th.bclr55,.table_area td.bclr55,.imgtext_area .bclr55,.list_area .bclr55,.contact_area .bclr55 p,.tblclr th.bclr55,.tblclr td.bclr55{background-color: #004e2a !important;}
.bclr56,.table_area th.bclr56,.table_area td.bclr56,.imgtext_area .bclr56,.list_area .bclr56,.contact_area .bclr56 p,.tblclr th.bclr56,.tblclr td.bclr56{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5ffe4', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5ffe4', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #c5ffe4, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #c5ffe4, #ffffff) !important;
	background-image: -o-linear-gradient(top, #c5ffe4, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#c5ffe4), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #c5ffe4, #ffffff) !important;
	background-image: linear-gradient(top, #c5ffe4, #ffffff) !important;
}

.bclr61,.table_area th.bclr61,.table_area td.bclr61,.imgtext_area .bclr61,.list_area .bclr61,.contact_area .bclr61 p,.tblclr th.bclr61,.tblclr td.bclr61{background-color: #cff2fb !important;}
.bclr62,.table_area th.bclr62,.table_area td.bclr62,.imgtext_area .bclr62,.list_area .bclr62,.contact_area .bclr62 p,.tblclr th.bclr62,.tblclr td.bclr62{background-color: #b0eaf8 !important;}
.bclr63,.table_area th.bclr63,.table_area td.bclr63,.imgtext_area .bclr63,.list_area .bclr63,.contact_area .bclr63 p,.tblclr th.bclr63,.tblclr td.bclr63{background-color: #81ddf4 !important;}
.bclr64,.table_area th.bclr64,.table_area td.bclr64,.imgtext_area .bclr64,.list_area .bclr64,.contact_area .bclr64 p,.tblclr th.bclr64,.tblclr td.bclr64{background-color: #52d0f1 !important;}
.bclr65,.table_area th.bclr65,.table_area td.bclr65,.imgtext_area .bclr65,.list_area .bclr65,.contact_area .bclr65 p,.tblclr th.bclr65,.tblclr td.bclr65{background-color: #0c728d !important;}
.bclr66,.table_area th.bclr66,.table_area td.bclr66,.imgtext_area .bclr66,.list_area .bclr66,.contact_area .bclr66 p,.tblclr th.bclr66,.tblclr td.bclr66{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bfeefa', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bfeefa', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #bfeefa, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #bfeefa, #ffffff) !important;
	background-image: -o-linear-gradient(top, #bfeefa, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#bfeefa), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #bfeefa, #ffffff) !important;
	background-image: linear-gradient(top, #bfeefa, #ffffff) !important;
}

.bclr71,.table_area th.bclr71,.table_area td.bclr71,.imgtext_area .bclr71,.list_area .bclr71,.contact_area .bclr71 p,.tblclr th.bclr71,.tblclr td.bclr71{background-color: #e1ebf6 !important;}
.bclr72,.table_area th.bclr72,.table_area td.bclr72,.imgtext_area .bclr72,.list_area .bclr72,.contact_area .bclr72 p,.tblclr th.bclr72,.tblclr td.bclr72{background-color: #bad0ea !important;}
.bclr73,.table_area th.bclr73,.table_area td.bclr73,.imgtext_area .bclr73,.list_area .bclr73,.contact_area .bclr73 p,.tblclr th.bclr73,.tblclr td.bclr73{background-color: #93b6de !important;}
.bclr74,.table_area th.bclr74,.table_area td.bclr74,.imgtext_area .bclr74,.list_area .bclr74,.contact_area .bclr74 p,.tblclr th.bclr74,.tblclr td.bclr74{background-color: #6c9cd2 !important;}
.bclr75,.table_area th.bclr75,.table_area td.bclr75,.imgtext_area .bclr75,.list_area .bclr75,.contact_area .bclr75 p,.tblclr th.bclr75,.tblclr td.bclr75{background-color: #172f4b !important;}
.bclr76,.table_area th.bclr76,.table_area td.bclr76,.imgtext_area .bclr76,.list_area .bclr76,.contact_area .bclr76 p,.tblclr th.bclr76,.tblclr td.bclr76{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bad1ea', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bad1ea', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #bad1ea, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #bad1ea, #ffffff) !important;
	background-image: -o-linear-gradient(top, #bad1ea, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#bad1ea), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #bad1ea, #ffffff) !important;
	background-image: linear-gradient(top, #bad1ea, #ffffff) !important;
}

.bclr81,.table_area th.bclr81,.table_area td.bclr81,.imgtext_area .bclr81,.list_area .bclr81,.contact_area .bclr81 p,.tblclr th.bclr81,.tblclr td.bclr81{background-color: #ebe2f2 !important;}
.bclr82,.table_area th.bclr82,.table_area td.bclr82,.imgtext_area .bclr82,.list_area .bclr82,.contact_area .bclr82 p,.tblclr th.bclr82,.tblclr td.bclr82{background-color: #d4bfe2 !important;}
.bclr83,.table_area th.bclr83,.table_area td.bclr83,.imgtext_area .bclr83,.list_area .bclr83,.contact_area .bclr83 p,.tblclr th.bclr83,.tblclr td.bclr83{background-color: #bc9cd3 !important;}
.bclr84,.table_area th.bclr84,.table_area td.bclr84,.imgtext_area .bclr84,.list_area .bclr84,.contact_area .bclr84 p,.tblclr th.bclr84,.tblclr td.bclr84{background-color: #a578c3 !important;}
.bclr85,.table_area th.bclr85,.table_area td.bclr85,.imgtext_area .bclr85,.list_area .bclr85,.contact_area .bclr85 p,.tblclr th.bclr85,.tblclr td.bclr85{background-color: #20132a !important;}
.bclr86,.table_area th.bclr86,.table_area td.bclr86,.imgtext_area .bclr86,.list_area .bclr86,.contact_area .bclr86 p,.tblclr th.bclr86,.tblclr td.bclr86{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e3d6ed', endColorstr = '#ffffff') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e3d6ed', endColorstr = '#ffffff')" !important;
	background-image: -moz-linear-gradient(top, #e3d6ed, #ffffff) !important;
	background-image: -ms-linear-gradient(top, #e3d6ed, #ffffff) !important;
	background-image: -o-linear-gradient(top, #e3d6ed, #ffffff) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e3d6ed), to(#ffffff)) !important;
	background-image: -webkit-linear-gradient(top, #e3d6ed, #ffffff) !important;
	background-image: linear-gradient(top, #e3d6ed, #ffffff) !important;
}


/*---　ボーダー色関連　　---*/
.bdclr11,.bdclr11 th,.bdclr11 td{border-color: #ffffff !important;}
.bdclr12,.bdclr12 th,.bdclr12 td{border-color: #cccccc !important;}
.bdclr13,.bdclr13 th,.bdclr13 td{border-color: #999999 !important;}
.bdclr14,.bdclr14 th,.bdclr14 td{border-color: #333333 !important;}
.bdclr15,.bdclr15 th,.bdclr15 td{border-color: #000000 !important;}

.bdclr21,.bdclr21 th,.bdclr21 td{border-color: #ffccd9 !important;}
.bdclr22,.bdclr22 th,.bdclr22 td{border-color: #ff7799 !important;}
.bdclr23,.bdclr23 th,.bdclr23 td{border-color: #ff2259 !important;}
.bdclr24,.bdclr24 th,.bdclr24 td{border-color: #dd0037 !important;}
.bdclr25,.bdclr25 th,.bdclr25 td{border-color: #880022 !important;}
.bdclr26,.bdclr26 th,.bdclr26 td{border-color: #550015 !important;}

.bdclr31,.bdclr31 th,.bdclr31 td{border-color: #fbd4d0 !important;}
.bdclr32,.bdclr32 th,.bdclr32 td{border-color: #f59a92 !important;}
.bdclr33,.bdclr33 th,.bdclr33 td{border-color: #ec4435 !important;}
.bdclr34,.bdclr34 th,.bdclr34 td{border-color: #ca2213 !important;}
.bdclr35,.bdclr35 th,.bdclr35 td{border-color: #7c150c !important;}
.bdclr36,.bdclr36 th,.bdclr36 td{border-color: #3e0b06 !important;}

.bdclr41,.bdclr41 th,.bdclr41 td{border-color: #faeebf !important;}
.bdclr42,.bdclr42 th,.bdclr42 td{border-color: #f4dd81 !important;}
.bdclr43,.bdclr43 th,.bdclr43 td{border-color: #eec832 !important;}
.bdclr44,.bdclr44 th,.bdclr44 td{border-color: #cba511 !important;}
.bdclr45,.bdclr45 th,.bdclr45 td{border-color: #7d650a !important;}
.bdclr46,.bdclr46 th,.bdclr46 td{border-color: #2f2604 !important;}

.bdclr51,.bdclr51 th,.bdclr51 td{border-color: #c5ffe4 !important;}
.bdclr52,.bdclr52 th,.bdclr52 td{border-color: #3dffa7 !important;}
.bdclr53,.bdclr53 th,.bdclr53 td{border-color: #00d675 !important;}
.bdclr54,.bdclr54 th,.bdclr54 td{border-color: #008147 !important;}
.bdclr55,.bdclr55 th,.bdclr55 td{border-color: #003d21 !important;}
.bdclr56,.bdclr56 th,.bdclr56 td{border-color: #001b0f !important;}

.bdclr61,.bdclr61 th,.bdclr61 td{border-color: #bfeefa !important;}
.bdclr62,.bdclr62 th,.bdclr62 td{border-color: #81ddf4 !important;}
.bdclr63,.bdclr63 th,.bdclr63 td{border-color: #32c8ee !important;}
.bdclr64,.bdclr64 th,.bdclr64 td{border-color: #0e8cac !important;}
.bdclr65,.bdclr65 th,.bdclr65 td{border-color: #033649 !important;}
.bdclr66,.bdclr66 th,.bdclr66 td{border-color: #04262f !important;}

.bdclr71,.bdclr71 th,.bdclr71 td{border-color: #d4e2f2 !important;}
.bdclr72,.bdclr72 th,.bdclr72 td{border-color: #93b6de !important;}
.bdclr73,.bdclr73 th,.bdclr73 td{border-color: #4580c6 !important;}
.bdclr74,.bdclr74 th,.bdclr74 td{border-color: #2f5f98 !important;}
.bdclr75,.bdclr75 th,.bdclr75 td{border-color: #1b3757 !important;}
.bdclr76,.bdclr76 th,.bdclr76 td{border-color: #031634 !important;}

.bdclr81,.bdclr81 th,.bdclr81 td{border-color: #e3d6ed !important;}
.bdclr82,.bdclr82 th,.bdclr82 td{border-color: #bc9cd3 !important;}
.bdclr83,.bdclr83 th,.bdclr83 td{border-color: #9561b8 !important;}
.bdclr84,.bdclr84 th,.bdclr84 td{border-color: #724293 !important;}
.bdclr85,.bdclr85 th,.bdclr85 td{border-color: #452859 !important;}
.bdclr86,.bdclr86 th,.bdclr86 td{border-color: #20132a !important;}
